<div class="main-content">
  <mat-icon *ngIf="(tracker.blink$ | async)" class="record-icon">fiber_manual_record</mat-icon>
  <button title="Install" class="top-fixed-position" *ngIf="pwa.promptEvent" mat-fab color="primary" (click)="installPwa()"><mat-icon>add_to_home_screen</mat-icon></button>
  <h1 class="main-title primary-color">
    <img class="title-logo" src="/assets/logo_quokka.png" /> Quokka Time Tracker
  </h1>
  <mat-tab-group>
    <mat-tab label="Tracker">
      <fc-tracker></fc-tracker>
    </mat-tab>
    <mat-tab label="Report">
      <fc-report></fc-report>
    </mat-tab>
  </mat-tab-group>
</div>

